* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h {
    align-items: center;

}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

header {
    background-color: #eeeeee;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

header ul li {
    position: relative; 
}

header ul li a {
    display: block;
    font-size: 18px;
    padding: 20px 30px;
    font-family: "Archivo Black", sans-serif;
    color: #196ba3;
    border-bottom: 5px solid transparent; 
    transition: 0.3s;
    text-align: center;
}

header ul li a:hover {
    color: #196ba3; 
    border-bottom: 5px solid #196ba3; 
    background-color: rgba(0, 0, 0, 0.05); 
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eeeeee;
    width: 100%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    z-index: 1000;
}

.dropdown:hover .submenu {
    display: flex;
}

.submenu li {
    width: 100%;
}

.submenu li a {
    font-size: 18px;
    padding: 15px 10px;
    border-bottom: none;
    width: 100%;
    text-align: center;
}

.submenu li a:hover {
    border-bottom: none;
    background-color: #196ba3;
    color: #ffffff;
}

footer {
    background-color: black;
    text-align: center;
    color: #ffffff;
}